# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/*.txt
data/*.zip

# Model/checkpoints
models/*.keras
models/*.h5
models/*.weights.h5

# Generated outputs
outputs/*.png
outputs/*.txt
outputs/*.json

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
